 
/* -----------------------------------------------------------Generique------------------------------------------------------------ */
html {
    height: 100%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #FF6B6B;
    text-transform: uppercase;
    padding: 3%;
}

p, h3, a, li {
    font-family: lato;
    text-decoration: none;
    font-size: 1.2 rem;

}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* TITLE */
title {
    text-transform: uppercase;
}

/*------------------------------------------------------------ PAGE HOME -----------------------------------------------------------*/

/* HEADER */
header {
    background:#004E64;
    width: 100%;
    height:10rem;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}
header h1 {
    font-family: monoton;
    font-size: 5rem;
    text-transform: uppercase;
    color: #F7FFF7;   
    flex-basis: 70%;
    text-align: center;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones,nav ul {
    display : none;
}

.burger img {
    display: flex;
    justify-content: flex-end;
    height: 8rem;
    width: 8rem;
    padding-top: 1rem; 
}                

.burger {
    width: 30%;
    display: flex;
    justify-content: flex-end;

}


/* CAROUSSEL */

.slider img{
    width: 100%;
    height: auto;
}

/* ARTICLE */

.articles {
    text-align: center;
}

.art_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.art_img img {
    width: 48%;
    margin: 0.5% 0.1%;

}

/* FOOTER */

footer {
    color: #004e64;
    background-color: #4Ecdc4;
    display: flex;S
    flex-direction: column;
    margin-top: auto;
}

footer a:hover{
    text-decoration: none;
}

footer a:link {
    text-decoration: none;
    color: #004e64;
} 

footer a:visited {
    color: #004e64;
}

.link_communaute {
    padding: 1.5%;
    width: auto;
    margin: auto;
    display: flex;
    flex-grow: 3;
}

.network {
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;  
}

/*------------------------------------------------------------ PAGE JOINUS -----------------------------------------------------------*/

input,
textarea {
	margin-bottom: 10px;
	font-size: 11pt;
	padding: 15px 10px 10px;
	border: 1px solid #cecece;
	background-color: #efefef;
	color: #787575;
	border-radius: 5px;
	width: 70%;
    outline: none;
    text-align: center;
}

input#button {
	background-color:#FF6B6B;
	border-radius: 5px;
	cursor: pointer;
	color: #004E64;
	border: none;
	outline: none;
    font-weight: bold;
    width: 30%;
}

fieldset {
	border-style: none;
	text-align: center;
}

label {
	display: none;
	
}

.Contactus h2 {
    display: flex;
    justify-content: center;
    color: #FF6B6B;
    text-transform: uppercase;
}

.Contactus div {
    margin: 10px;
}

.Contactus {
    margin-top: 1em;
}


/*------------------------------------------------------------ PAGE PROGRAMMATION -----------------------------------------------------------*/

.programmation {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.jours {
    color: #004e64;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.6rem;
}

.programmation  ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 0.95rem;
    padding: 3%;
}

.programmation h3 {
    text-align: center;
    font-size: 2rem;
}

.vendredi, .samedi, .dimanche {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10% 0%;
}
/*------------------------------------------------------------ PAGE FSTIVAL -----------------------------------------------------------*/
.story img{
    width: 100%;
}

.story h2{
    text-align: center;
    padding: 2%;
}

.story h3{
padding: 2%;
}
.story p{
    padding : 2% 2% 2% 0
}

/*------------------------------------------------------------MEDIA---------------------------------------------------------------------*/

@media only screen and (min-width: 768px){


  /*--------------------Page Joinus ----------------------------------------- */
  
  input#button {
      width: 10%;
      margin-top: 20px;
      font-size: 1.2rem;
  }

  input,
textarea {
    width: 50%;
}
